<!-- <audio controls="" src="http://rs.hadara.ps:8000/;stream.mp33&amp;13202692901&amp;duration=99999&amp;id=scplayer&amp;autostart=true" type="audio/mpeg"></audio>
<audio controls="" src="http://alhaneny.com:8056/;stream.mp3&amp;13202692901&amp;duration=99999&amp;id=scplayer&amp;autostart=true" type="audio/mpeg"></audio>
<audio controls="" src="http://radio.r4fm.ps:8044/;stream.mp3&amp;13202692901&amp;duration=99999&amp;id=scplayer&amp;autostart=true" type="audio/mpeg"></audio>
<audio controls="" src="http://www.quran-radio.org:8002/;stream.mp3&amp;13202692901&amp;duration=99999&amp;id=scplayer&amp;autostart=true" type="audio/mpeg"> </audio>
<audio controls="" src="https://streaming.zaytonatube.com/test2.aac" type="audio/mpeg"> </audio>
<audio controls="" src="http://icecast.mada.ps:8095/ajyalnew" type="audio/mpeg"></audio>
<audio controls="" src="http://icecast.mada.ps:8096/anghamnew" type="audio/mpeg"></audio>
<audio controls="" src="http://streamer.mada.ps:8031/radioramallah" type="audio/mpeg"></audio>
<audio controls="" src="http://streamer.mada.ps:8029/quranfm" type="audio/mpeg"></audio>
<audio src="http://live.masterweb-ps.com:8006/;mp3" controls="" type="audio/mpeg"></audio>
<audio type="audio/mpeg" src="http://zain.callu.ps:8000/live.ogg" controls=""></audio> -->

<h1>Welcome to the Radio Player Stations In Palestine</h1>
<div *ngIf='radioObject'>
    <div *ngFor='let city of cities'>
        <p>city name : {{city.cityName}}</p>
        <div *ngFor='let radio of city.radiosInTheCity '>
            <p>radio : {{radio.name}}</p>
            <audio style="outline: none;" type="audio/mpeg" [src]='radio.src' controls=""></audio>
        </div>
    </div>
</div>